@font-face {
  font-family: "Roboto Condensed Bold";
  src: url(../../typography/RobotoCondensed-Bold.ttf);
}

.wrapper {
}

.header {
  display: block;
  /* max-width: 35em; */
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Mono Bold Italic";
  font-size: 2.9em;
  margin-bottom: 0.75em;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1em;
  width: 2em;
  border-bottom: solid #cab91d 12px;
  margin-top: 0.5em;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1em;
  width: 2em;
  border-bottom: solid black 11px;
  margin-top: 0.7em;
}

.cart {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 30;
  background: black;
  width: 6em;
  color: #cab91d;
  border: none;
  cursor: pointer;
  font-family: "Roboto Slab";

  margin-top: 3.1em;
  padding: 0.6em 0.9em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.657);
  transition: 0.1s;
}

.cart:hover {
  opacity: 0.93;
  transform: scale(1.005);
}
