@font-face {
  font-family: "Roboto-Regular";
  src: url(../../typography/Roboto-Regular.ttf);
}

.wrapper {
  max-width: 100%;
}

.headerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.crabatoad {
  animation: MoveUpDown 9s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 8em;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.logo {
  width: 95%;
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.4em;
}

.logo:hover {
  opacity: 0.9;
}

.linesWrapperWrapper {
  position: absolute;
  margin-left: -195px;
  width: 6em;
}

.linksList {
  list-style: none;
  display: none;
  flex-wrap: wrap;
  font-family: "Roboto-Regular";
  font-size: calc(18px + 0.5vw);
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 0.3em;
  transition: 0.1s;
}

.linkWrapper {
  position: relative;
}

.link:hover::after {
  content: "";
  z-index: -1;
  transition: 0.2s;
  position: absolute;
  width: 80%;
  height: 13px;
  left: 1%;
  top: 9%;
  margin-right: auto;
  margin-left: 0;
  background: #cab91da1;
  border-bottom: solid black 3px;
}

.linesWrapper {
  width: 15rem;
  transform: rotate(-45deg);
  position: absolute;
  max-width: 25em;
  top: 95px;
  left: 0;
  right: 500px;
  bottom: 3px;
}

.lineBlack {
  border-bottom: solid black 10px;
  margin-bottom: 0.5em;
  width: 245%;
}

.lineYellow {
  border-bottom: solid #cab91d 10px;
  margin-bottom: 0.5em;
  width: 245%;
}

@media screen and (min-width: 650px) {
  .linksList {
    display: flex;
  }

  .logo {
    display: block !important;
    width: 70%;
    max-width: 28em;
  }

  .crabatoad {
    max-width: 13em;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    margin-top: 2.5em;
  }
}
