.arrowWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 50px;
  background: black;
  bottom: 3%;
  left: 4%;
  font-size: 2.5em;
  border-radius: 1%;
  padding: 0.01em;
  box-shadow: 4px 3px 3px black;
  color: black;
  background: #cab91ddf;
  z-index: 99;
  cursor: pointer;
  transition: 0.2s;
}

.copyrightWrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  max-width: max-content;
}

.stampWrapper {
  width: 2.5em;
  margin-bottom: 2em;
}

.copyright {
  font-family: "Roboto Slab";
  text-align: center;
  font-style: italic;
  font-size: 1em;
  color: black;
}

.arrow {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  margin-bottom: auto;
}
