@font-face {
  font-family: "Roboto Mono";
  src: url(../../typography/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "Roboto Condensed Bold Italic";
  src: url(../../typography/RobotoCondensed-BoldItalic.ttf);
}

.bookingWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 20em;
}

.bookingWrapper::before {
  content: "";
  display: block;
  position: absolute;
  height: 3.5em;
  width: 3.5em;
  border-left: solid #cab91d 10px;
  border-top: solid #cab91d 10px;
}

.bookingWrapper::after {
  content: "";
  display: block;
  position: absolute;
  right: 1%;
  bottom: 3%;
  height: 3.5em;
  width: 3.5em;
  border-right: solid black 10px;
  border-bottom: solid black 10px;
}

.bookingText {
  font-family: "Roboto Mono";
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: 1.8em;
  padding: 1.6em;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.7em;
  margin-bottom: 2em;
}

input[type="text"],
input[type="email"] {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  font-family: "Roboto Slab";
  border: solid #cab91d 3px;
  box-shadow: 5px 5px 5px black;
}

.submitButton {
  margin-top: 0.5em;
  cursor: pointer;
  border: none;
  font-family: "Roboto Slab";
  font-weight: bold;
  padding: 1em;
  background: black;
  width: 6em;
  border: solid #cab91d 4px;
  color: white;
  transition: 0.1s;
  box-shadow: 4px 4px 4px black;
}

.submitButton:hover {
  transform: scale(1.06);
  background: #cab91d;
  color: black;
  border: solid black 4px;
  box-shadow: 4px 4px 4px #cab91d;
}

textarea {
  border: solid #cab91d 3px;
  height: 9em;
  box-shadow: 5px 5px 5px black;
  padding: 1em;
  font-family: "Roboto Slab";
}

.contactUs {
  font-family: "Roboto Condensed Bold Italic";
  font-size: 2em;
}

.or {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Condensed Bold Italic";
  font-size: 2em;
  text-align: center;
}

.emailUs {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  font-family: "Roboto Condensed Bold Italic";
  font-size: 2em;
  word-wrap: break-word;
  text-align: left;
  margin-top: 1em;
  max-width: 16ch;
  cursor: pointer;

  margin-bottom: 2em;
}

.emailAddress {
  text-decoration: none;
  color: black;
}

.emailAddress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -2%;
  border-bottom: solid #cab91dd2 12px;
  height: 1em;
  width: 7.5em;
  margin-top: 11%;
  z-index: -1;
  transition: 0.3s;
}

.emailAddress:hover::after {
  border-bottom: solid #cab91dd2 20px;
  margin-top: 6%;
}

@media screen and (min-width: 900px) {
  .formGrid {
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
  }

  .formWrapper {
    width: 95%;
  }

  .emailUs {
    font-size: 2em;
    word-wrap: normal;
  }

  .emailAddress:hover::after {
    border-bottom: solid #cab91dd2 29px;
    margin-top: 6%;
  }
}

@media screen and (min-width: 1200px) {
  .emailUs {
    font-size: 3em;
  }
}
