@font-face {
  font-family: "Roboto Mono Bold";
  src: url(../../typography/RobotoMono-Bold.ttf);
}

.releasesGrid {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 372px));
}

/* .releasesGrid:first-child {
  margin-right: 1.5em;
} */

.singleAlbum {
  max-width: 21em;
  text-decoration: none;
}

.albumCover {
  box-shadow: 8px 8px 8px #cab91d;
}

.albumArtist {
  font-family: "Roboto Slab Black";
  text-decoration: none;
  font-style: normal;

  color: black;
}

.albumTitle {
  font-family: "Roboto Mono Bold";
  text-decoration: none;
  color: black;
}
